<div class="comment_name">
	<br>
	<strong><%= comment.name %></strong>
</div>
<div class="comment_body">
	<%= comment.body %>
</div>
<div class="comment_time">
	<%= time_ago_in_words(comment.created_at) %> Ago
</div>


<div>
	<%= link_to "Delete", post_comment_path(comment.post, comment),method: :delete,data: {confirm: "Are you sure?"}%>
	<%= link_to "Edit", edit_post_comment_path(comment.post, comment) %>
</div>
