<%= form_for([@post, @comment]) do |f| %>
	<br>
	<div>
		<%= f.label :name, "你的名字" %> 	<br>
		<%= f.text_area :name %>
	</div>

	<div>
		<%= f.label :body, "留言" %> <br>
		<%= f.text_area :body %>
	</div>
	<br>
	<div>
		<%= f.submit %>
	</div>
<% end %>
