
<div class="title">
	<br>
	<h1><%= @post.title %></h1>
</div>
<br><br>
<div class = "date">
	posted <%= time_ago_in_words(@post.created_at) %> ago

	<% if @post.editable_by?(current_user) %>
		<%= link_to "Edit", edit_post_path(@post) %>||
		<%= link_to "Delete", post_path(@post) ,:method=> :delete, data: {confirm: "Are you sure?"}  %>
	<% end %>

</div>
<br><br>
<div class="body">
	<h2><%= @post.body %></h2>
</div>	
<br><br>

<div>
	<%= image_tag(@post.image_url.to_s) %>
</div>

<div class = "comments">
	<h2><%= @post.comments.count %>Comments</h2>
	<% @post.comments.each do |comment| %>
		<%= render comment %>
	<% end %>
<%= render 'comments/form' %>
</div>	
<%= link_to "回文章",root_path %>
