<!DOCTYPE html>
<html>
  <head>
    <title>Blog3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<button id="button"><%= link_to"New Posts", new_post_path %></button>
    <%= yield %>
  </body>
</html>
